@import url(https://fonts.googleapis.com/css2?family=Open+Sans);
*{
    font-family:Open Sans;
}

/*indstillinger for alle input felterne*/
.settingInput{
    margin: auto;
    width: 95%;
    height: 100%;
    font-size: 18px;
    border: 2px solid black;
    padding: 10px;   
}

/*gør telefonen længere*/
.holder{
    padding-bottom:207px;
  }

.settingHeader{
    margin: auto;
    text-align:center;
}

/*indstillinger for knapperne*/
#update{
  margin-left: 130px;

}

#logOut{
    margin-left: 175px;
}
