input.pw {
    -webkit-text-security: disc;
}


    


.holder{
    
    padding-bottom:600px;
}
.phone1{
    border: 3px solid rgb(0, 0, 0);
    border-radius:0px 0px 30px 30px;
    width: 450px;
    position: absolute;
    top: 480px;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #fff;
    /*background-image: url("/Users/aayan/Documents/GitHub/BingeBurner/Icons/Untitled-1.png");*/
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.8;
    border-radius: 40px;
    padding: 30px;
    color: black;
    height: 800px;
    }
    p{
        color: black;
    }

.top-bar{
    text-align: center;
    font-size: x-large;
    
    position:absolute;
    left: 24%;
    top: 0%;
    color: black;
    
}

#søren{
    position:absolute;
    left: 30%;
    top: 45%;
}

#jens{
    position:absolute;
    left: 39.5%;
    top: 60%;
}

#signup{
    position:absolute;
    left: 30%;
    top: 40%;
}

#signin{
    position:absolute;
    left: 30%;
    top: 40%;
}

/* Denne knap er googles og snuppet fra https://getcssscan.com/css-buttons-examples 
<button class="button-17" role="button">Button 17</button> */
.button-1 {
    align-items: center;
    appearance: none;
    background-color: #fff;
    border-radius: 24px;
    border-style: none;
    box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
    box-sizing: border-box;
    color: #3c4043;
    cursor: pointer;
    display: inline-flex;
    fill: currentcolor;
    font-family: "Google Sans",Roboto,Arial,sans-serif;
    font-size: 36px;
    font-weight: bold;
    
    height: 100px;
    width: 200px;
    justify-content: center;
    letter-spacing: .25px;
    line-height: normal;
    
    overflow: visible;
    padding: 2px 24px;
    position: relative;
    text-align: center;
    text-transform: none;
    transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    
    will-change: transform,opacity;
    z-index: 0;
  }
  
  .button-1:hover {
    background: #F6F9FE;
    color: #174ea6;
  }
  
  .button-1:active {
    box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
    outline: none;
  }
  
  .button-1:focus {
    outline: none;
    border: 2px solid #4285f4;
  }
  
  .button-1:not(:disabled) {
    box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
  }
  
  .button-1:not(:disabled):hover {
    box-shadow: rgba(60, 64, 67, .3) 0 2px 3px 0, rgba(60, 64, 67, .15) 0 6px 10px 4px;
  }
  
  .button-1:not(:disabled):focus {
    box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
  }
  
  .button-1:not(:disabled):active {
    box-shadow: rgba(60, 64, 67, .3) 0 4px 4px 0, rgba(60, 64, 67, .15) 0 8px 12px 6px;
  }
  
  .button-1:disabled {
    box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
  }