@import url(https://fonts.googleapis.com/css2?family=Open+Sans);

*{
    font-family:Open Sans;
}

body{
  background-color: cornflowerblue;
    /*background-image: url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwallpapertag.com%2Fwallpaper%2Ffull%2F9%2F9%2Ff%2F716759-funny-monkey-wallpaper-1920x1080-for-android-tablet.jpg&f=1&nofb=1&ipt=444ae83ebd535722f379703ef6337985fc92496e3a7aed7f8eb75777ebaa6fb3&ipo=images);*/
  }

.phone{
    border: 3px solid rgb(0, 0, 0);
    border-radius:0px 0px 30px 30px;
    width: 450px;
    position: absolute;
    top: 480px;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #fff;
    /*background-image:url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.nydailynews.com%2Fresizer%2Fc5R1sD3jau0x47TjUGRrJGEOLAs%3D%2F1200x1001%2Ftop%2Farc-anglerfish-arc2-prod-tronc.s3.amazonaws.com%2Fpublic%2FFILU64YGZIBL6DPMPUBXPLU6CY.jpg&f=1&nofb=1&ipt=7c458bed7a902857ff2b0bc63dccc8af7174d4308e70e644fc87c2e0a7c09bdb&ipo=images);*/
    border-radius: 40px;
    padding: 30px;
    color: black;
}

.top-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    border-radius: 10px;
    font-weight:bold;
    
}

.arrow-img{
    width: 25px;
}

.main{
    display: flex;
    align-items: left;
    justify-content: space-between;
    font-size:12px;
    border: 1px solid rgb(42, 75, 165);
    border-radius:10px;
    background-color: rgba(255,0,0,0.3);
}

.main img{
    width:50px;
    height:auto;
}

.main h1{
    text-align: center;
    font-size: 22px;
}

.main h2{
    padding-right:10px;
    padding-left:10px;
    padding-top:8px;
}

.main h3{
    padding-left:20px;
    font-size:20px;
}

.main:hover{
    cursor: pointer;
    background: peru;
    color:#fff;
    box-shadow: 0 5px 10px red;
    border: 1px solid blanchedalmond;
  }

  .bottom-bar{
    display: flex;
    border: 3px solid rgb(0, 0, 0);
    border-radius:0px 0px 30px 30px;
    background-color: rgb(188, 188, 188);
    margin:-30px;
    height: 80px;
  }

  .icons{
    display: flex;
    justify-content: space-between;
    width: 100px;
    margin-left: -195px;
    position: absolute;
    left: 50%;
    height: 25px;
  }

  .icons img{
    width:50px;
    align-self: center;
    height: 50px;
    padding-left: 40px;
    padding-top:50px;
  }

  .icons a{
    margin-top:-35px;
  }

  .holder{
    padding-bottom:400px;
  }
  
 

  
